@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container py-5">
    <h1 class="text-center mb-4">Privacy Policy</h1>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-lg">
                <div class="card-body p-5">
                    <h2>Introduction</h2>
                    <p>Welcome to Student Time Management. We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about our policy, or our practices with regards to your personal information, please contact us.</p>
                    <h2>Information We Collect</h2>
                    <p>We collect personal information that you voluntarily provide to us when you register on the <b>Student Time Management</b> express an interest in obtaining information about us or our products and services, when you participate in activities on the <b>Student Time Management</b> or otherwise when you contact us.</p>
                    <h2>How We Use Information</h2>
                    <p>
                        We use personal information collected via our Student Time Management for a variety of business purposes described below:

                        To deliver services to the user. We may use your information to provide you with the requested service.

                        To protect our Services. We may use your information as part of our efforts to keep our Student Time Management safe and secure.
                    </p>
                    <h2>Updates to this Policy</h2>
                    <p>
                        We may update this privacy policy from time to time. The updated version will be indicated by an updated “Revised” date and the updated version will be effective as soon as it is accessible.
                    </p>
                    <h2>Contact Us</h2>
                    <p>If you have questions or comments about this policy, you may contact us.</p>
                </div>
            </div>
        </div>
    </div>
</div>

